
.icon-down-dir:before { content: '\e801'; } /* '' */
.icon-circle:before { content: '\e808'; } /* '' */
.icon-clock:before { content: '\e807'; } /* '' */
.icon-group:before { content: '\e803'; } /* '' */
.icon-help:before { content: '\e800'; } /* '' */