[class*="pokemon-sprite"] {
  width:80px;
  height:80px;
  background:url('pokemons-sprite.png') 80px 80px no-repeat;
}

.pokemon-sprite-1 { background-position:0 0; }
.pokemon-sprite-2 { background-position:-80px 0; }
.pokemon-sprite-3 { background-position:-160px 0; }
.pokemon-sprite-4 { background-position:-240px 0; }
.pokemon-sprite-5 { background-position:-320px 0; }
.pokemon-sprite-6 { background-position:-400px 0; }
.pokemon-sprite-7 { background-position:-480px 0; }
.pokemon-sprite-8 { background-position:-560px 0; }
.pokemon-sprite-9 { background-position:-640px 0; }
.pokemon-sprite-10 { background-position:-720px 0; }
.pokemon-sprite-11 { background-position:-800px 0; }
.pokemon-sprite-12 { background-position:-880px 0; }
.pokemon-sprite-13 { background-position:-960px 0; }
.pokemon-sprite-14 { background-position:-1040px 0; }
.pokemon-sprite-15 { background-position:-1120px 0; }
.pokemon-sprite-16 { background-position:-1200px 0; }
.pokemon-sprite-17 { background-position:-1280px 0; }
.pokemon-sprite-18 { background-position:-1360px 0; }
.pokemon-sprite-19 { background-position:-1440px 0; }
.pokemon-sprite-20 { background-position:-1520px 0; }
.pokemon-sprite-21 { background-position:-1600px 0; }
.pokemon-sprite-22 { background-position:-1680px 0; }
.pokemon-sprite-23 { background-position:-1760px 0; }
.pokemon-sprite-24 { background-position:-1840px 0; }
.pokemon-sprite-25 { background-position:-1920px 0; }
.pokemon-sprite-26 { background-position:0 -80px; }
.pokemon-sprite-27 { background-position:-80px -80px; }
.pokemon-sprite-28 { background-position:-160px -80px; }
.pokemon-sprite-29 { background-position:-240px -80px; }
.pokemon-sprite-30 { background-position:-320px -80px; }
.pokemon-sprite-31 { background-position:-400px -80px; }
.pokemon-sprite-32 { background-position:-480px -80px; }
.pokemon-sprite-33 { background-position:-560px -80px; }
.pokemon-sprite-34 { background-position:-640px -80px; }
.pokemon-sprite-35 { background-position:-720px -80px; }
.pokemon-sprite-36 { background-position:-800px -80px; }
.pokemon-sprite-37 { background-position:-880px -80px; }
.pokemon-sprite-38 { background-position:-960px -80px; }
.pokemon-sprite-39 { background-position:-1040px -80px; }
.pokemon-sprite-40 { background-position:-1120px -80px; }
.pokemon-sprite-41 { background-position:-1200px -80px; }
.pokemon-sprite-42 { background-position:-1280px -80px; }
.pokemon-sprite-43 { background-position:-1360px -80px; }
.pokemon-sprite-44 { background-position:-1440px -80px; }
.pokemon-sprite-45 { background-position:-1520px -80px; }
.pokemon-sprite-46 { background-position:-1600px -80px; }
.pokemon-sprite-47 { background-position:-1680px -80px; }
.pokemon-sprite-48 { background-position:-1760px -80px; }
.pokemon-sprite-49 { background-position:-1840px -80px; }
.pokemon-sprite-50 { background-position:-1920px -80px; }
.pokemon-sprite-51 { background-position:0 -160px; }
.pokemon-sprite-52 { background-position:-80px -160px; }
.pokemon-sprite-53 { background-position:-160px -160px; }
.pokemon-sprite-54 { background-position:-240px -160px; }
.pokemon-sprite-55 { background-position:-320px -160px; }
.pokemon-sprite-56 { background-position:-400px -160px; }
.pokemon-sprite-57 { background-position:-480px -160px; }
.pokemon-sprite-58 { background-position:-560px -160px; }
.pokemon-sprite-59 { background-position:-640px -160px; }
.pokemon-sprite-60 { background-position:-720px -160px; }
.pokemon-sprite-61 { background-position:-800px -160px; }
.pokemon-sprite-62 { background-position:-880px -160px; }
.pokemon-sprite-63 { background-position:-960px -160px; }
.pokemon-sprite-64 { background-position:-1040px -160px; }
.pokemon-sprite-65 { background-position:-1120px -160px; }
.pokemon-sprite-66 { background-position:-1200px -160px; }
.pokemon-sprite-67 { background-position:-1280px -160px; }
.pokemon-sprite-68 { background-position:-1360px -160px; }
.pokemon-sprite-69 { background-position:-1440px -160px; }
.pokemon-sprite-70 { background-position:-1520px -160px; }
.pokemon-sprite-71 { background-position:-1600px -160px; }
.pokemon-sprite-72 { background-position:-1680px -160px; }
.pokemon-sprite-73 { background-position:-1760px -160px; }
.pokemon-sprite-74 { background-position:-1840px -160px; }
.pokemon-sprite-75 { background-position:-1920px -160px; }
.pokemon-sprite-76 { background-position:0 -240px; }
.pokemon-sprite-77 { background-position:-80px -240px; }
.pokemon-sprite-78 { background-position:-160px -240px; }
.pokemon-sprite-79 { background-position:-240px -240px; }
.pokemon-sprite-80 { background-position:-320px -240px; }
.pokemon-sprite-81 { background-position:-400px -240px; }
.pokemon-sprite-82 { background-position:-480px -240px; }
.pokemon-sprite-83 { background-position:-560px -240px; }
.pokemon-sprite-84 { background-position:-640px -240px; }
.pokemon-sprite-85 { background-position:-720px -240px; }
.pokemon-sprite-86 { background-position:-800px -240px; }
.pokemon-sprite-87 { background-position:-880px -240px; }
.pokemon-sprite-88 { background-position:-960px -240px; }
.pokemon-sprite-89 { background-position:-1040px -240px; }
.pokemon-sprite-90 { background-position:-1120px -240px; }
.pokemon-sprite-91 { background-position:-1200px -240px; }
.pokemon-sprite-92 { background-position:-1280px -240px; }
.pokemon-sprite-93 { background-position:-1360px -240px; }
.pokemon-sprite-94 { background-position:-1440px -240px; }
.pokemon-sprite-95 { background-position:-1520px -240px; }
.pokemon-sprite-96 { background-position:-1600px -240px; }
.pokemon-sprite-97 { background-position:-1680px -240px; }
.pokemon-sprite-98 { background-position:-1760px -240px; }
.pokemon-sprite-99 { background-position:-1840px -240px; }
.pokemon-sprite-100 { background-position:-1920px -240px; }
.pokemon-sprite-101 { background-position:0 -320px; }
.pokemon-sprite-102 { background-position:-80px -320px; }
.pokemon-sprite-103 { background-position:-160px -320px; }
.pokemon-sprite-104 { background-position:-240px -320px; }
.pokemon-sprite-105 { background-position:-320px -320px; }
.pokemon-sprite-106 { background-position:-400px -320px; }
.pokemon-sprite-107 { background-position:-480px -320px; }
.pokemon-sprite-108 { background-position:-560px -320px; }
.pokemon-sprite-109 { background-position:-640px -320px; }
.pokemon-sprite-110 { background-position:-720px -320px; }
.pokemon-sprite-111 { background-position:-800px -320px; }
.pokemon-sprite-112 { background-position:-880px -320px; }
.pokemon-sprite-113 { background-position:-960px -320px; }
.pokemon-sprite-114 { background-position:-1040px -320px; }
.pokemon-sprite-115 { background-position:-1120px -320px; }
.pokemon-sprite-116 { background-position:-1200px -320px; }
.pokemon-sprite-117 { background-position:-1280px -320px; }
.pokemon-sprite-118 { background-position:-1360px -320px; }
.pokemon-sprite-119 { background-position:-1440px -320px; }
.pokemon-sprite-120 { background-position:-1520px -320px; }
.pokemon-sprite-121 { background-position:-1600px -320px; }
.pokemon-sprite-122 { background-position:-1680px -320px; }
.pokemon-sprite-123 { background-position:-1760px -320px; }
.pokemon-sprite-124 { background-position:-1840px -320px; }
.pokemon-sprite-125 { background-position:-1920px -320px; }
.pokemon-sprite-126 { background-position:0 -400px; }
.pokemon-sprite-127 { background-position:-80px -400px; }
.pokemon-sprite-128 { background-position:-160px -400px; }
.pokemon-sprite-129 { background-position:-240px -400px; }
.pokemon-sprite-130 { background-position:-320px -400px; }
.pokemon-sprite-131 { background-position:-400px -400px; }
.pokemon-sprite-132 { background-position:-480px -400px; }
.pokemon-sprite-133 { background-position:-560px -400px; }
.pokemon-sprite-134 { background-position:-640px -400px; }
.pokemon-sprite-135 { background-position:-720px -400px; }
.pokemon-sprite-136 { background-position:-800px -400px; }
.pokemon-sprite-137 { background-position:-880px -400px; }
.pokemon-sprite-138 { background-position:-960px -400px; }
.pokemon-sprite-139 { background-position:-1040px -400px; }
.pokemon-sprite-140 { background-position:-1120px -400px; }
.pokemon-sprite-141 { background-position:-1200px -400px; }
.pokemon-sprite-142 { background-position:-1280px -400px; }
.pokemon-sprite-143 { background-position:-1360px -400px; }
.pokemon-sprite-144 { background-position:-1440px -400px; }
.pokemon-sprite-145 { background-position:-1520px -400px; }
.pokemon-sprite-146 { background-position:-1600px -400px; }
.pokemon-sprite-147 { background-position:-1680px -400px; }
.pokemon-sprite-148 { background-position:-1760px -400px; }
.pokemon-sprite-149 { background-position:-1840px -400px; }
.pokemon-sprite-150 { background-position:-1920px -400px; }
.pokemon-sprite-151 { background-position:0 -480px; }